[package]

name = "classeq-cli"
description = "A command line interface for the classeq library"
readme = "README.md"

version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
keywords.workspace = true
categories.workspace = true


[dependencies]

classeq-core = { path = "../../core", version = "0.7.3" }
classeq-ports-lib = { path = "../lib", version = "0.7.3" }

anyhow.workspace = true
clap.workspace = true
rayon.workspace = true
serde.workspace = true
serde_json.workspace = true
serde_yaml.workspace = true
tracing.workspace = true
tracing-appender.workspace = true
tracing-subscriber.workspace = true
uuid.workspace = true
zstd.workspace = true

pprof = { version = "0.13", features = ["prost-codec"], optional = true }


[features]

profiling = ["pprof"]


[[bin]]
name = "cls"
path = "src/main.rs"
