[package]

name = "classeq-api"
description = "API for Classeq"
readme = "../../README.md"

version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
keywords.workspace = true
categories.workspace = true


[dependencies]

classeq-core = { path = "../../core", version = "0.8.0" }
classeq-ports-lib = { path = "../lib", version = "0.8.0" }

actix-files = "0.6.6"
actix-multipart = "0.6.1"
actix-web = "4.7"
actix-web-httpauth = "0.8.0"
actix-web-opentelemetry = "0.18.0"
futures = "0.3"
futures-util = "0.3"
mycelium-config = "5.0"
tracing-actix-web = "0.7"
tracing-bunyan-formatter = "0.3.9"
tracing-log = "0.2.0"

anyhow.workspace = true
chrono.workspace = true
mycelium-base.workspace = true
serde.workspace = true
serde_yaml.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
tokio.workspace = true
uuid.workspace = true
walkdir.workspace = true


[[bin]]
name = "cls-api"
path = "src/main.rs"
