[package]

name = "classeq-watcher"
description = "A simple watcher for the Classeq project"
readme = "README.md"

version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
keywords.workspace = true
categories.workspace = true


[dependencies]

classeq-core = { path = "../../core", version = "0.3.0" }
classeq-ports-lib = { path = "../lib", version = "0.3.0" }

anyhow.workspace = true
apalis.workspace = true
apalis-core.workspace = true
clap.workspace = true
chrono.workspace = true
mycelium-config.workspace = true
serde.workspace = true
serde_yaml.workspace = true
tracing.workspace = true
tracing-appender.workspace = true
tracing-subscriber.workspace = true

async-std = { version = "1.12.0", features = ["attributes"] }
async-channel = "2"
ctrlc = "3.2.5"


[[bin]]
name = "cls-watcher"
path = "src/main.rs"
